<div>
    <label for="status-field"
        class="form-label">Status</label>
    <select class="form-control"
        id="status-field" name="status_id">
        <option value="" disabled selected>
            Select Status
        </option>
        <% statuses.forEach(function(element) { %>
            <option
                value="<%= element._id %>">
                <%= element.name %>
            </option>
            <% }); %>
        </select>
    </div>


    <script>
        $(document).ready(function () {
            const product = JSON.parse('<%- JSON.stringify(product) %>');
    
            // Fill form fields with existing data
            $("#unit").val(product.unit);
            $("#tags").val(product.tags);
            $("#video_url").val(product.video_url);
            $("#special_discount_type").val(product.special_discount_type);
            $("#special_discount").val(product.special_discount);
            $("#special_discount_period").val(product.special_discount_period);
            $("#min_stock_quantity").val(product.min_stock_quantity);
            $("#stock_visibility").val(product.stock_visibility);
            $("#short_description").val(product.short_description);
            $("#is_featured").prop("checked", product.is_featured);
            $("#todays_deal").prop("checked", product.todays_deal);
            $("#meta_title").val(product.meta_title);
            $("#meta_description").val(product.meta_description);
            $("#meta_keywords").val(product.meta_keywords);
            $("#product_name").val(product.product_name);
            $("#min_order_quantity").val(product.min_order_quantity);
            $("#slug").val(product.slug);
            $("#status_id").val(
                product.status_id ? product.status_id._id.toString() : ""
            );
        });
    
    var editform = $("#editform");
        editform.on("submit", editSubmitHandler);
    
        function submitFormHandler(e) {
            e.preventDefault();
    
     // Prepare form data
     var formData = new FormData(this);
    
            $.ajax({
                type: "POST",
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                url: "/admin/vendor/edit",
                data: formData,
            })
                .done((res) => {
                    if (res.status == 200) {
                        iziToast.success({
                            title: "Success",
                            message: res.message,
                            position: "topRight",
                        });
                    } else {
                        iziToast.error({
                            title: "Error",
                            message: res.message,
                            position: "topRight",
                        });
                    }
                    setTimeout(function () {
                        window.location.href = "/admin/product/list";
                    }, 1000);
                })
                .fail(function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                });
        }
    </script>